@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Patrick+Hand+SC&display=swap');

* {
  font-family: 'Patrick Hand', cursive;
  color: #33394a;
  box-sizing: border-box;
  font-size: 18px;
}

ul,
li {
  list-style-type: none;
}

h1 {
  margin-left: 20px;
  font-weight: 600;
  color: rgb(112, 43, 43);
}

.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.score-main-container {
  flex-direction: column;
  justify-content: start;
  min-width: 375px;
}

.score-display-container {
  margin: 10px 56px 0;
  padding: 12px 36px 36px;
  border: 1px solid #ddd;
  box-shadow: 6px 6px 6px #ddd, -6px -6px 6px #ddd;
}

h2 {
  color: rgb(112, 43, 43);
}

.score-header-container {
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 16px;
}

.refresh-btn {
  cursor: pointer;
  height: 28px;
  margin: 23px 0 0 16px;
  color: rgb(112, 43, 43);
  background-color: rgba(135, 181, 214, 0.806);
  border: none;
  border-radius: 4px;
  padding: 3px 22px;
  font-weight: bold;
}

.refresh-btn:hover {
  color: white;
  background-color: rgb(112, 43, 43);
}

#form {
  margin-top: 12px;
}

.score-table-container {
  border: #ddd solid 1px;
}

.submit {
  font-size: 18px;
  align-self: flex-end;
  color: rgb(112, 43, 43);
  background-color: rgba(135, 181, 214, 0.806);
  border: none;
  padding: 6px 28px;
  border-radius: 4px;
  font-weight: bold;
}

.submit:hover {
  color: white;
  background-color: rgb(112, 43, 43);
}

.table {
  margin-bottom: 0;
}

.points {
  color: rgb(112, 43, 43);
}

.score-input-container {
  margin: 36px 56px 56px;
  padding: 12px 36px 36px;
  border: 1px solid #ddd;
  box-shadow: 6px 6px 6px #ddd, -6px -6px 6px #ddd;
}

@media screen and (min-width: 767px) {
  .score-main-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .score-display-container {
    width: 50%;
  }

  .score-input-container {
    width: 50%;
    margin: 10px 56px 0 0;
  }
}
